<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Team List</title>
  <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Team List</h1>
<a href="addTeam">Add Team</a>
<br/><br/>
<div>
  <table border="1">
    <tr>
      <th>Name</th>
    </tr>
    <tr th:each ="team : ${teams}">
      <td th:utext="${team.title}">...</td>
      <td><a th:href="@{/showTeamUpdateForm/{id}(id=${team.id})}">Update</a>
        <a th:href="@{/deleteTeam/{id}(id=${team.id})}">Delete</a></td>
    </tr>
  </table>
</div>
</body>
</html>